---
layout: default
title : Blog 
---
<div class="row">
    <div class="col">
		
		{% for category in site.categories %}
			<div>
				<!--
				<a class="btn btn-primary" data-bs-toggle="collapse" href="#collapseExample{{category[0]}}" role="button" aria-expanded="false" aria-controls="collapseExample">
					{{ category[0] }}
				</a>
				-->

				<div>
					<button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#{{category[0]}}" aria-expanded="false" aria-controls="collapseExample">
						{{ category[0] }}
					</button>
				</div>

				<div class="collapse" id="{{category[0]}}">
					<div class="card card-body">
						<ul>
							{% for post in category[1] %}
								<li><a href="{{ post.url }}">{{ post.title }}</a></li>
							{% endfor %}
						</ul>
					</div>
				</div>
			</div>
		{% endfor %}
    </div>
</div>

<script>
// $('.collapse').collapse();
</script>