body {
    background: #212121;
    color: rgb(235, 235, 235);
}
a {color: rgb(235, 235, 235);}
.current {
    color: green;
}
#footer {
    padding: 20px;
    color: #c0c0c0;
}


#container {
	
}

td, th {padding: 10px;border: 1px solid #eee;}