---
---
@import "main";
#container {
    padding-top: 102px;
	padding-left: 10%;
	padding-right: 10%;
}
pre.highlight {
    background-color: #D3DBE6;
    padding: 1rem 0;
}

img {border: 1px solid #fff;}